name: sdk cicd
# This workflow builds, scans, and pushes the SDK image.
# It automatically generates a semantic version based on the bump type(major,minor,patch or none) provided by user and the latest tag on the main branch.
# It then tags both the Git commit and the built image with the generated version.

on:
  workflow_call:
    inputs:
      bump-type:
        description: 'Require the user to select the bump type from the workflow dispatch UI and rerun the workflow if the commit message does not include a PR ID.'
        required: false
        type: string
      prod-image-repo:
        required: true
        type: string

# Explicitly revokes all default permissions.
permissions: {}

jobs:
  # Build the image and scan it using Trivy.
  build-scan-test:
    name: Build and scan image (for non-main branches)
    if: github.ref != 'refs/heads/main'
    runs-on: self-hosted
    timeout-minutes: 60
    permissions:
      contents: read
    env:
      IMAGE_NAME: image-for-scanning
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build
        uses: docker/build-push-action@v6
        with:
          network: host
          file: ./Containerfile
          load: true
          tags: ${{ env.IMAGE_NAME }}:test

      - name: Prepare Trivy
        run: |
          wget https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl    

      - name: Trivy scan 
        uses: aquasecurity/trivy-action@0.33.1
        with:
          skip-setup-trivy: true
          scan-type: image
          image-ref: ${{ env.IMAGE_NAME }}:test
          format: template
          template: '@html.tpl'
          output: trivy-report.html
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
          exit-code: '0'         

      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: Trivy report
          path: trivy-report.html
          retention-days: 1
          
  #Verify that the PR creator has specified exactly one version label (major, minor, patch, or none); fail the job if no label is provided.
  check-pr-label:
    name: Check PR label
    if: github.event_name == 'pull_request' && github.base_ref == 'main'
    runs-on: self-hosted
    timeout-minutes: 5
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Check PR label
        id: check
        uses: ysuika/acore-cicd-templates/.github/actions/check-pr-label@main

      - name: Result
        if: steps.check.outputs.status == 'failure'
        run: |
          echo "Error: Pull request must have exactly one of these labels: major, minor, patch, none. Please recreate PR."
          exit 1

  # Determine the version based on the PR label
  # Assumes the PR ID is present in the commit message (used to retrieve the PR label).
  # If the PR ID is not present, instruct the user to rerun the workflow via workflow_dispatch and manually select the version bump type.
  determine-version:
    name: Determine version
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted
    timeout-minutes: 5
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      pull-requests: read
    outputs:
      new_version: ${{ steps.det.outputs.new_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Determine version
        id: det
        uses: ysuika/acore-cicd-templates/.github/actions/determine-version@main
        with:
          bump-type: ${{ inputs.bump-type }}

  # Build, scan and push the image to image repository.
  # The generated version is both tagged to the image and included in the image label (metadata). 
  build-scan-push-prod:
    name: Build image (prod)
    needs: [determine-version]
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    env:
      REGISTRY: ghcr.io
      IMAGE_REPO: ${{ inputs.prod-image-repo }}
    runs-on: self-hosted
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Compute full image name (lowercase)
        id: name
        run: |
          IMAGE_NAME=$(echo "${{ env.IMAGE_REPO }}" | tr '[:upper:]' '[:lower:]')
          echo "image=${IMAGE_NAME}" >> "$GITHUB_OUTPUT"

      - name: Build for test
        uses: docker/build-push-action@v6
        with:
          network: host       
          file: ./Containerfile
          load: true
          tags: ${{ steps.name.outputs.image }}:test

      - name: Prepare Trivy
        run: |
          wget https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/html.tpl    

      - name: Trivy scan 
        uses: aquasecurity/trivy-action@0.33.1
        with:
          skip-setup-trivy: true
          scan-type: image
          image-ref: ${{ steps.name.outputs.image }}:test
          format: template
          template: '@html.tpl'
          output: trivy-report.html
          severity: 'UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL'
          exit-code: '0' 

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate image tags to push
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.name.outputs.image }}
          labels: |
            org.opencontainers.image.version=${{ needs.determine-version.outputs.new_version }}
          tags: |
            type=sha
            type=raw,value=latest
            type=raw,value=${{ needs.determine-version.outputs.new_version }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          network: host     
          file: ./Containerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          
      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: Trivy report
          path: trivy-report.html
          retention-days: 1

  # Tag the main branch with the generated version.
  bump-version:
    name: Bump version (git tag)
    if: (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && github.ref == 'refs/heads/main'
    needs: [determine-version, build-scan-push-prod]
    runs-on: self-hosted
    timeout-minutes: 5
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Tag new version if needed
        uses: ysuika/acore-cicd-templates/.github/actions/bump-version@main
        with:
          new_version: ${{ needs.determine-version.outputs.new_version }}
          token: ${{ secrets.GITHUB_TOKEN }}
